<div class="card">
    <h5 class="card-header">Nova Matrícula</h5>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="nome_aluno">Aluno</label>
                <select ng-model="cadastro.aluno" ng-options="aluno.nome for aluno in alunos" id="periodo" class="form-control">
                    <option value="">Selecione um aluno</option>
                </select>
            </div>
            <div class="form-group">
                <label for="periodo">Período</label>
                <select id="periodo" class="form-control"  ng-model="cadastro.periodo" ng-options="periodo for periodo in periodos">
                    <option value="">Selecione um período</option>
                </select>
            </div>
            <div class="form-group">
                <label for="disciplinas">Disciplinas</label>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Disciplina</th>
                                <th scope="col" style="width: 85px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="disciplina in cadastro.disciplinas">
                                <td>{{disciplina.id}}</td>
                                <td>{{disciplina.nome}}</td>
                                <td class="text-center">
                                    <a class="text-danger table-icon" ng-click="removeAlertModal($index)" data-toggle="modal" data-target="#deleteModal">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-success" ng-click="carregarDisciplinas()" data-toggle="modal" data-target="#adicionarDisciplinaModal">
                    Adicionar Disciplina
                </button>
            <br>
            <br>
            <button type="submit" class="btn btn-primary" ng-click="salvarDados()">Salvar</button>
            <a href="" ng-click="paginaAnterior()" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
</div>
        
<!-- Modal Adicionar Disciplina -->
<div class="modal fade" id="adicionarDisciplinaModal" tabindex="-1" role="dialog" aria-labelledby="adicionarDisciplinaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar Disciplina</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
            <div id="alertaModal" class="alert alert-danger" role="alert" ng-hide="modalAlert">
                <a class="close" ng-click="setAlertDefault()">×</a>
                Tente adicionar alguma disciplina!
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Disciplina</th>
                            <th scope="col" style="width: 85px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="disciplina in disciplinas">
                            <td>{{disciplina.id}}</td>
                            <td>{{disciplina.nome}}</td>
                            <td class="text-center">
                                <a class="text-success table-icon" ng-click="addDisciplina($index)" ng-show="disciplinaSelecionada($index)">
                                    <i class="fas fa-plus"></i>
                                </a>
                                <a class="text-danger table-icon" ng-click="delDisciplina($index)" ng-show="!disciplinaSelecionada($index)">
                                    <i class="fas fa-times"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- {{disciplinasAdicionadas}} -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="zerarModal()">Fechar</button>
            <button type="button" class="btn btn-primary" ng-click="closeModal()" >Adicionar</button>
        </div>
        </div>
    </div>
</div>

<!-- Modal de Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alerta!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Você está prestes a excluir <b>{{toRemoveObj.nome}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" ng-click="zerarRemove()" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-danger" ng-click="removeDisciplinaModal()" data-dismiss="modal">Excluir</button>
            </div>
        </div>
    </div>
</div>