<div class="card">
    <h5 class="card-header">Detalhe matricula {{matricula.id}}</h5>
    <div class="card-body">
        <!-- {{matricula}} -->
        <!-- <h5 class="card-title"></h5> -->
        <p class="card-text">
            <i class="fas fa-user"></i>
            <b style="margin-left: 5px">Aluno:</b>
            <a href="#/detalhe-aluno/{{matricula.aluno.id}}">{{matricula.id_aluno.nome}}</a>
        </p>
        <p class="card-text">
            <i class="far fa-calendar-alt"></i>
            <b style="margin-left: 5px"> Periodo: </b>{{matricula.periodo}}</p>
        <p class="card-text">
            <i class="fas fa-edit"></i>
            <b style="margin-left: 5px"> Disciplinas:</b>
        </p>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"><a href="" ng-click="ordernarPor('nome')">Disciplina</a></th>
                        <th scope="col"><a href="" ng-click="ordernarPor('nota1')">Nota1</a></th>
                        <th scope="col"><a href="" ng-click="ordernarPor('nota2')">Nota2</a></th>
                        <th scope="col"><a href="" ng-click="ordernarPor('media')">Media</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="disciplina in matricula.disciplinas | orderBy:criterioDeOrdenacao:direcaoDeOrdenacao">
                        <td>{{disciplina.id}}</td>
                        <td>{{disciplina.nome}}</td>
                        <td>{{disciplina.nota1}}</td>
                        <td>{{disciplina.nota2}}</td>
                        <td>{{disciplina.media}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="" ng-click="paginaAnterior()" class="btn btn-secondary">Voltar</a>
    </div>
</div>