<div class="card ">
    <div class="card-header">
        <h5>Matriculas</h5>        
        <a href="#/cadastro-matricula" class="btn btn-primary btn-sm">Nova Matrícula</a>  
    </div>
    <div class="card-body">
        <p class="card-title">Matriculas cadastradas</p>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Aluno</th>
                        <th scope="col">Periodo</th>
                        <th scope="col">Mais</th>
                        <th scope="col" style="width: 150px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="matricula in matriculas | orderBy:criterioDeOrdenacao:direcaoDeOrdenacao">
                        <td>{{matricula.id}}</td>
                        <td>{{matricula.id_aluno.nome}}</td>
                        <td>{{matricula.periodo}}</td>
                        <td><a href="#/matricula/{{matricula.id}}">Detalhes</a></td>
                        <td class="text-center">
                            <a href="#/editar-matricula/{{matricula.id}}" class="text-primary table-icon"><i class="fas fa-pencil-alt"></i></a>
                            <a class="text-danger table-icon" data-toggle="modal" data-target="#removeModal" ng-click="removeAlertModal(matricula.id)"><i class="fas fa-times"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- {{matriculas}} -->
    </div>
</div>

<!-- remove Modal -->
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alerta!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Você está prestes a excluir a matrícula!
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" ng-click="zerarRemove()" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-danger" ng-click="removeMatriculaModal()" data-dismiss="modal">Excluir</button>
            </div>
        </div>
    </div>
</div>