<div class="main-content">
    <div class="container">
        <div class="row">
            <!-- item -->
            <div class="col-md-2 align-center">
                <div class="main-item bg-dark">
                    <a href="#/cadastro-matricula" class="text-light">
                        <p class="icon"><i class="fab fa-wpforms fa-3x"></i></p>
                        <p>Nova Matrícula</p>
                    </a>
                </div>
            </div>
            <!-- fim item -->
            <!-- item -->
            <div class="col-md-2 align-center">
                <div class="main-item bg-dark">
                    <a href="#/cadastro-disciplina" class="text-light">
                        <p class="icon"><i class="fas fas fa-book fa-3x"></i></p>
                        <p>Nova Disciplina</p>
                    </a>
                </div>
            </div>
            <!-- fim item -->
            <!-- item -->
            <div class="col-md-2 align-center">
                <div class="main-item bg-dark">
                    <a href="#/cadastro-aluno" class="text-light">
                        <p class="icon"><i class="fas fa-user-plus fa-3x"></i></p>
                        <p>Novo Aluno</p>
                    </a>
                </div>
            </div>
            <!-- fim item -->
            <!-- item -->
            <div class="col-md-2 align-center">
                <div class="main-item bg-dark">
                    <a href="#/matriculas" class="text-light">
                        <p class="icon"><i class="fas fa-list-ul fa-3x"></i></p>
                        <p>Matrículas</p>
                    </a>
                </div>
            </div>
            <!-- fim item -->
            <!-- item -->
            <div class="col-md-2 align-center">
                <div class="main-item bg-dark">
                    <a href="#/disciplinas" class="text-light">
                        <p class="icon"><i class="fas fa-edit fa-3x"></i></p>
                        <p>Disciplinas</p>
                    </a>
                </div>
            </div>
            <!-- fim item -->
            <!-- item -->
            <div class="col-md-2 align-center">
                <div class="main-item bg-dark">
                    <a href="#/alunos" class="text-light">
                        <p class="icon"><i class="fas fa-users fa-3x"></i></p>
                        <p>Alunos</p>
                    </a>
                </div>
            </div>
            <!-- fim item -->
        </div>
    </div>
</div>

