<div class="card">
    <h5 class="card-header">Nova Disciplina</h5>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="nome_disciplina">Nome</label>
                <input ng-model="cadastro.nome" type="text" class="form-control" id="nome_disciplina" placeholder="Nome da disciplina">
            </div>
            <br>
            <button type="submit" ng-click="salvarDados()" class="btn btn-primary">Salvar</button>
            <a href="" ng-click="paginaAnterior()" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
</div>