<div class="card">
    <h5 class="card-header">Detalhe disciplina {{disciplina.id}}</h5>
    <div class="card-body">
        <p class="card-text">
            <i class="fas fas fa-book"></i>
            <b style="margin-left: 5px">Disciplina: </b>{{disciplina.nome}}
        </p>
        <p class="card-text">
            <i class="fas fa-users"></i>
            <b style="margin-left: 5px"> Alunos: </b>
        </p>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"><a href="" ng-click="ordernarPor('nome')">Nome</a></th>
                        <th scope="col"><a href="" ng-click="ordernarPor('nota1')">Nota1</a></th>
                        <th scope="col"><a href="" ng-click="ordernarPor('nota2')">Nota2</a></th>
                        <th scope="col"><a href="" ng-click="ordernarPor('media')">Media</a></th>
                        <th scope="col">Mais</th>
                        <th scope="col">Editar</th>                       
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="aluno in disciplina.alunos | orderBy:criterioDeOrdenacao:direcaoDeOrdenacao">
                        <td>{{aluno.id_aluno.id}}</td>
                        <td>{{aluno.id_aluno.nome}}</td>
                        <td>{{aluno.nota_1}}</td>
                        <td>{{aluno.nota_2}}</td>
                        <td>{{aluno.media}}</td>
                        <td><a href="#/aluno/{{aluno.id_aluno.id}}">Detalhes</a></td>
                        <td><a href="#/disciplina/{{disciplina.id}}/{{aluno.id_aluno.id}}/{{aluno.id_matricula}}">Notas</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="" ng-click="paginaAnterior()" class="btn btn-secondary">Voltar</a>
    </div>
</div>