<div class="card">
    <h5 class="card-header">Editar Notas de {{nota.aluno}}</h5>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="nota_aluno">Aluno</label>
                <input value="{{dadosNota.aluno}}" type="text" class="form-control" id="nota_aluno" readonly>
            </div>
            <div class="form-group">
                <label for="nota_matricula">Matricula</label>
                <input value="{{idMatricula}}" type="text" class="form-control" id="nota_matricula" readonly>
            </div>
            <div class="form-group">
                <label for="nota_disciplina">Disciplina</label>
                <input value="{{dadosNota.disciplina}}" type="text" class="form-control" id="nota_disciplina" readonly>
            </div>
            <div class="form-group">
                <label for="nota_nota1">Nota 1: <b>{{dadosNota.nota_1}}</b></label>
                <input ng-model="editNota.nota_1" value="{{dadosNota.nota_1}}" type="text" class="form-control" id="nota_nota1">
            </div>
            <div class="form-group">
                <label for="nota_nota2">Nota 1: <b>{{dadosNota.nota_2}}</b></label>
                <input ng-model="editNota.nota_2" value="{{dadosNota.nota_2}}" type="text" class="form-control" id="nota_nota2">
            </div>
            {{editNota}}
            <br>
            <button type="submit" class="btn btn-primary" ng-click="salvarDados()">Salvar</button>
            <a href="" ng-click="paginaAnterior()" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
</div>