<div class="card">
    <h5 class="card-header">Editar Disciplina {{disciplina.id}}</h5>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="id_disciplina">Id</label>
                <input value="{{disciplina.id}}" type="text" class="form-control" id="id_disciplina" placeholder="Nome da disciplina" readonly>
            </div>
            <div class="form-group">
                <label for="nome_disciplina">Nome</label>
                <input ng-model="disciplina.nome" type="text" class="form-control" id="nome_disciplina" placeholder="Nome da disciplina">
            </div>
            <br>
            <button type="submit" class="btn btn-primary" ng-click="salvarDados()">Salvar</button>
            <a href="" ng-click="paginaAnterior()" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
</div>