html{
    height: 100%;
}

ul{
    list-style-type: none;
}

.footer {
    padding-top: 15px;
    border-top: 1px solid #ccc;    
}

/* content */
.content{
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 400px;
}

.align-center{
    text-align: center;
}

/* main content */
.main-content{
    width: 100%;
    min-height: 400px;
}

.main-item{
    width: 100%;
    height: 100%;
    padding: 10px;
}

.main-item a{
    text-decoration: none;
}

.main-item p{
    margin-bottom: 0px;
}

.main-item .icon{
    margin-bottom: 5px;
}

/* listagem */
.table-icon{
    margin: 0 1rem;
}

.card-header h5{
    margin-bottom: 0;
}

.card-header a{
    float: right;
    margin-top: -27px;
}
