<div class="card">
    <h5 class="card-header">Novo Aluno</h5>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="nome_aluno">Nome</label>
                <input ng-model="cadastro.nome" type="text" class="form-control" id="nome_aluno" placeholder="Nome completo">
            </div>
            <div class="form-group">
                <label for="nasc_aluno">Data de Nascimento</label>
                <input type="date" class="form-control" id="nasc_aluno" ng-model="cadastro.data">
            </div>
            <br>
            <button type="submit" class="btn btn-primary" ng-click="salvarDados()">Salvar</button>
            <a href="" ng-click="paginaAnterior()" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
</div>