<div class="card">
    <h5 class="card-header">Detalhe aluno {{aluno.id}}</h5>
    <div class="card-body">
        <!-- <h5 class="card-title"></h5> -->
        <p class="card-text">
            <i class="fas fa-user"></i>
            <b style="margin-left: 5px">Aluno: </b>{{aluno.nome}}
        </p>
        <p class="card-text">
            <i class="fas fa-chart-line"></i>
            <b style="margin-left: 5px"> Media: </b>{{aluno.mediaGeral}}</p>
        <p class="card-text">
            <i class="fas fa-edit"></i>
            <b style="margin-left: 5px"> Matriculas:</b>
        </p>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Periodo</th>
                        <th scope="col">Mais</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="matricula in aluno.matriculas | orderBy:criterioDeOrdenacao:direcaoDeOrdenacao">
                        <td>{{matricula.id}}</td>
                        <td>{{matricula.periodo}}</td>
                        <td><a href="#/matricula/{{matricula.id}}">Detalhes</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="card-text">
            <i class="fas fa-edit"></i>
            <b style="margin-left: 5px"> Disciplinas:</b>
        </p>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"><a href="" ng-click="ordernarPor('nome')">Disciplina</a></th>
                        <th scope="col"><a href="" ng-click="ordernarPor('nota1')">Nota1</a></th>
                        <th scope="col"><a href="" ng-click="ordernarPor('nota2')">Nota2</a></th>
                        <th scope="col"><a href="" ng-click="ordernarPor('media')">Media</a></th>                        
                        <th scope="col">Mais</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="disciplina in aluno.disciplinas | orderBy:criterioDeOrdenacao:direcaoDeOrdenacao">
                        <td>{{disciplina.id}}</td>
                        <td>{{disciplina.nome}}</td>
                        <td>{{disciplina.nota1}}</td>
                        <td>{{disciplina.nota2}}</td>
                        <td>{{disciplina.media}}</td>
                        <td><a href="#/disciplina/{{disciplina.id}}">Detalhes</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="" ng-click="paginaAnterior()" class="btn btn-secondary">Voltar</a>
    </div>
</div>